$color_white: #fff;
$color_primary: #06b6d4;
$color_secondary_main: #111827;
$color_secondary_light: #1f2937;
$color_background_default: #111827;
$color_background_paper: #111827;
$color_error: #ff1744;
